/* General Reset */
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  
  min-height: 100vh;
  margin: 0;
}


form {
  background: #fff;
  display: grid;
  /* justify-content: center; */
  /* align-items: center; */
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
  text-align: center;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
  font-weight: bold;
}

form input,
form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

form input[type="radio"] {
  width: auto;
  margin-right: 5px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #216123;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

form .gender-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

form .gender-group div {
  display: flex;
  align-items: baseline;
}

form .gender-group input[type="radio"] {
  margin-right: 5px;
}

#form1 {
  align-items: center;
}
